* {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    font-family: 'Jost', sans-serif;

}

body{
    align-items: center;
    justify-content: center;
}

h1, h2, h3 {
    color:aliceblue;
}